################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleTest/bin/Debug
/ConsoleTest/obj/Debug
/ConsoleTest/obj/Debug
/Win32API/obj/Debug
/Win32API/bin/Debug
/.vs/Win32API/v15
